@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
    font-family: 'Nunito';
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
  }
  
  .nunito-light {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }
  
  .nunito-regular {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
  }
  .nunito-medium {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
  }
  
  .nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  